<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Spring Boot</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        
    </head>
    <body>
        <div>
            <br>
            <div>
                <a href="/crear">Agregar Alumno</a>
            </div>
            <h2 th:if="${lista.isEmpty()}">No hay alumnos</h2>
            <div th:if="${!lista.isEmpty()}">
                <table>
                    <thead>
                        <tr>
                            <th>Nombre</th>
                            <th>Apellido</th>
                            <th>Direccion</th>
                            <th>Telefono</th>
                            <th></th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="alumno : ${lista}">
                            <td th:text="${alumno.nombre}">
                            <td th:text="${alumno.apellido}">
                             <td th:text="${alumno.direccion}">
                            <td th:text="${alumno.telefono}">
                            <td><a th:href="@{/actualizar/{id}(id=${alumno.id})}">Editar</a></td>
                            <td><a th:href="@{/eliminar/{id}(id=${alumno.id})}">Eliminar</a></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </body>
</html>
